@charset "UTF-8";

/* 回答はここに書いてね */

.main {
  margin: 0 auto;
  background-color: #ecf1f2;
  padding: 20px;
}

.band {
  display: table;
  width: 100%;
  text-align: center;
}

.band:first-child {
  margin-bottom: 20px;
}

.cell {
  display: table-cell;
  padding: 20px 0;
}

.flex {
  width: fit-content;
}

.band:first-child .left {
  width: 100px;
  background-color: #fdc8b8;
}

.band:first-child .center{
  background-color: #e0abd9;
}

.band:first-child .right {
  width: 100px;
  background-color: #b6d8ed;
}

.band:last-child .left {
  background-color: #e5d32e;
}

.band:last-child .center {
  background-color: #ec8f9a;
}

.band:last-child .right {
  width: 500px;
  background-color: #8fdcad;
}
/* 回答はここに書いてね */
